img#profile-img {
	width: 80%;
}

#user-info-block {
	background-color: white;
	text-align: center;
	width: 90%;
	border-radius: 5px;
	padding-bottom: 3%;
    border-color: deepskyblue;
    border-style: solid;
}

#user-info-block hr {
	margin: 0 10%;
	padding-bottom: 3%;
}

#info-block {
	text-align: center;
}

#player-block {
	text-align: center;
	height: 100%;
	width: 100%;
}

#player {
	height: 28.125vw;
	width: 50vw;
}

#no-favourite {
	text-align: center;
	width: 100%;
	padding: 20% 0%;
}

.table {
	width: 30vw;
}

.row {
	padding: 25px 0px;
}

h3 {
	padding: 20px 0;
}

#user_form {
    display: none;
    padding: 3% 15%;
}

input[type="file"]
{
    background: transparent;
}

#edit-button {
    margin: 3%;
}

.form-group {
    margin-bottom: 0;
}